<div class="card shadow-effect">
  <img
    src="https://images.pexels.com/photos/895259/pexels-photo-895259.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ml-5">Featured</small>
    <small class="bg-light text-info text-center ml-5">View - 100,345</small>

    <h5 class="mt-1">HOW TO START A BLOG IN 2023 EDITTED NEW CATEGORY</h5>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti mollitia
      qui animi veniam dolorum. Praesentium?
    </p>

    <small class="bg-light text-warning text-center ml-5"
      >LAST UPDATED - APRIL 5, 2023</small
    >
  </div>
</div>
