<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/1266808/pexels-photo-1266808.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-sucess text-center">Featured</small>
          <small class="bg-light text-info text-center ml-2"
            >Views - 100,256</small
          >
          <small class="bg-light text-warning text-center ml-2"
            >LAST UPDATED - MAY 5, 2023
          </small>

          <h1 class="mt-3 mb-3"></h1>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit in
            nesciunt quod, aliquid libero inventore qui minima. Minus
            consequuntur, voluptate, dolores vel possimus ducimus, autem
            quisquam dolore eveniet voluptatibus alias fugiat est ut deleniti
            expedita iste? Hic reiciendis distinctio reprehenderit, est
            doloribus sed accusantium commodi quisquam earum, similique error
            odio temporibus aut, ipsam numquam corrupti at. Ullam quis,
            excepturi enim architecto tempore dolor recusandae rem provident
            pariatur dolorem necessitatibus libero voluptate ad nam eum laborum.
            Laudantium accusantium, quidem ea eos quae consequatur nisi quasi
            facilis minus dolores enim id repellendus, aspernatur est. Ea, neque
            reprehenderit sed magni aperiam consequatur fuga.
          </p>
        </div>
      </div>

      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
